:host{
    text-align: center;
    h1,h2{margin-top: 3rem;
        color: gray;
        font-family: Tahoma;
        font-weight: bold;  
    }
    h3{
      color: #ff4081;
        font-family: Tahoma;
        font-weight: bold;  
    }
}